@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.custom-img {
  background-color: rgba(0, 0, 0, 0.478);
  background-image: url("./images/splach.jpg");
  background-blend-mode: multiply;
}
.nav-active {
  left: 0;
}
.card-img {
  background-image: url("./images/about-img.jpg");
}
.services-img {
  background-image: url("./images/services3.jpg");
}
/* @media screen and (max-width: 1024px)  {
    .services-img{
        background-image: none;
    }
} */
